.balance_container {
    width: 100%;
    height: 700px;
    background-color: purple;
    position: relative;,
}

.ubalance_container {
    width: 100%;
    height: 700px;
    background-color: green;
    position: relative;,
}

.gui_container {
    position: absolute;
    background-color: wheat;
    width: 50%;
    height: 200px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 0px 0px 4px 0px;
    padding: 10px;
}

.exp_container {
    position: relative;
}

.fane {
    font-size: 20px;
    color: red;
}

.nav-tabs>li>a {
    background-color: #eee;
    color: #999;
    cursor: pointer;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

img {
    margin-top: 50px;
}

.answerChoice input {
    margin-right: 10px;
    cursor: pointer;
}

.rdo_label {
    cursor: pointer;
    font-weight: normal;
    padding: 0px 4px 0px 4px;
    border-radius: 4px;
}

.rdo_label:hover {
	background-color: white;
}

.ikon_container{
    position: absolute;
}
